<html>
	<style>
		.body{
			background-color:#B6C5D5;
		}
		
		li{
			margin-top: 10px;
		}

		.navbar {
			box-shadow: 0 5px 5px #333;
		}

		.col-md-2 {
			background-color: white;
			padding: 10px;
			margin: 15px 5px 10px 10px;
			height: 240px;
			box-shadow:0 3px 1px #666;
			border-radius: 3px;
		}

		img {
			height:75%%;
			width:100%;
		}
		
		.hidden{
			visibility:hidden;
		}
	</style>
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	

		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<a href="/" class="navbar-brand">Home</a>
			<ul class="nav nav-pills">
				<li role="presentation"><a href="/login"><b>Teach</b></a></li>
			</ul>
			</div>
		</nav>
	</head>
	
	<body class="body">
		<form class="hidden" id="someform" action="/student" method='post'>
			<input type="text" id="sessionID" name="sessionID">
			<input type="submit">
		</form>
		<br>
		<br>
		<br>
		<div class="container">
			<h1 class="text-center">Video Sections</h1>
			<div class="row">
				<% nameList.forEach(function(name){ %> 
					<div class="col-md-2 text-center">
						<a href="#"><%=name%></a>
					</div>
				<%	}); %>

				<% secList.forEach(function(section){ %> 
					<div class="hidden">
						<a href="#"><%=section%></a>
					</div>
				<%	}) %>
			</div>
		</div>
	</body>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>  

	<script>
	
	</script> 

</html>