<html>
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		   		<a href="#" class="navbar-brand"><%= username %></a>
		   		<a href="/logout" class="navbar-text navbar-right">Log Out</a>
		   </div>
		</nav>
	</head>

	<body>
		<br><br>
		<div class="jumbotron text-center">
			<!-- Make this Idea thing cycle through a list of ideas stored locally -->
				<a class="btn btn-primary btn-lg" href="/session" role="button">Start a session</a>
		</div>
	</body>

</html>