<html>
	<style>
		.title-padding{
			margin-left: 25px;
		}
		
		.big{
			font-size: 50px;
			color: #ffffff;
		}

		#title{
			padding:10px;
			margin:0;
			margin-bottom: 5px;
			background-color: #2c3e50;
			box-shadow: 0 5px 5px #333;
		}
		
		.body{
			background-image:url('/images/loginBackground.jpg');
		}
		
		.jumbotron{
			margin:0;
			opacity: 0.9;
		}



	</style>
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/animate.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<div id="title" class="page-header">
		  <h1 class="big title-padding"><b>Lecto</b></h1>
		</div>

	</head>


	<body class="body">
		<div class="jumbotron text-center">
			<!-- Make this Idea thing cycle through a list of ideas stored locally -->
			<div class="container animated fadeIn">
				<h1>school is cool</h1>
				<h3>Enlighten. Be Enlightened.</h3> 

				<br>
				<a class="btn btn-primary btn-lg" href="/login" role="button">Teach</a>
				<a class="btn btn-primary btn-lg" href="/classes" role="button">Learn</a>
			</div>
		</div>
	</body>
</html>