<html>
	<style>
		.title-padding{
			margin-left: 25px;
			margin-bottom: -10px;
		}
		.big{
			font-size: 50px;
		}
	</style>
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<div class="page-header">
		  <h1 class="big title-padding">Lecto</h1>
		</div>

	</head>


	<body>
		<div class="jumbotron text-center">
			<!-- Make this Idea thing cycle through a list of ideas stored locally -->
				<h1>#PlanarForm</h1>
				<h3>Enlighten. Be Enlightened.</h3> 
				<br>
				<a class="btn btn-primary btn-lg" href="/login" role="button">Teach</a>
				<a class="btn btn-primary btn-lg" href="/classes" role="button">Learn</a>
		</div>
	</body>
</html>