<html>
	<style>
		.body{
			background-color:#B6C5D5;
		}
		
		input{
		    padding: 10px;
			border: solid 1px #eeeeee;
			box-shadow: inset 1px 1px 2px 0 #111111;
			transition: box-shadow 0.3s;
		}
		
	</style>
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<br>
		<br>
	</head>
	
	<body align="center" class="body">
		<div class="container">		
			<div class="panel panel-default">
				<div class="panel-heading">
						<h1>Login</h1>
				</div>
				
				<div class="panel-body">
				</br>
					<form action='/login' method='post'>
						<label for="name">Username: </label>
						<input type="text" id="name" name="username" placeholder="Enter a Username" required>
						<br>
						<br>
						<label for="name">Password: </label>
						<input type="password" id="pass" name="password" placeholder="Enter a Password" required>
						<br>
						<br>
						<input type="submit" class="btn btn-primary" value="Log in"/>
						<br>
						<br>
						<a href="/register">Don't have an account? Register now!</a>
					</form>
				</div>
			</div>
		</div>

		
		
	</body>
	
</html>