<html>
	<style>
	    .body{
			background-color:#B6C5D5;
		}
		
		li{
			margin-top: 10px;
		}

		.navbar {
			box-shadow: 0 5px 5px #333;
		}

		.col-md-2 {
			background-color: white;
			padding: 10px;
			margin: 15px 5px 10px 10px;
			height: 240px;
			box-shadow:0 3px 1px #666;
			border-radius: 3px;
		}

		img {
			height:75%%;
			width:100%;
		}
		
		.hidden{
			visibility:hidden;
		}
	</style>

	
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	

		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<a href="/" class="navbar-brand">Home</a>
			<ul class="nav nav-pills">
				<li role="presentation"><a href="/login"><b>Teach</b></a></li>
				<a href="/logout" class="navbar-text navbar-right">Log Out</a>
			</ul>

		  </div>
		</nav>



		<body class="body">
			<br><br><br><br><br>
			
			<div id="initial">
				<h1 class="animated fadeIn"><b><center>Do you want to upload any pdf files?</center></b></h1>
				<center><input id="submit-button" type="submit" class="btn btn-primary" value="Yes"/>
				<input id="submit-button-2" type="submit" class="btn btn-primary" value="No"/></center>
			</div>
			<div id="afterclick">
				<h1 class="animated fadeIn"><b><center>Upload the files below:</center></b></h1>
				
				<div class="jumbotron text-center">
				   <body align="center">
				    <div>
					<!-- Replace the 'newsession' with s3 bucket name -->
						<label for="name">Name: </label>
						<br>
						<input type="text" id="name" name="name" placeholder="Enter a username">
						<br>
						<br>
						<label for="name">Class: </label>
						<br>
						<input type="text" id="class" name="subject" placeholder="Enter a class">
						<br>
						<br>
						<label for="school">School: </label> 
						<br>
						<select id="school" class="box" name ="schools" maxlength="194"> 
							<option value="Select">Select a School</option>
							<option value="UC Berkeley">UC Berkeley</option>
						</select> 
						<br>
						<br>
						<center><input id="uploadBtn" type="file" name="file" /></center>
						<br>
						<input type="checkbox" name="terms" id="terms">
						<a href="#">I accept the Terms and Conditions</a>
						<br>
						<br>
						<input id="submit-button-3" type="submit" class="btn btn-primary" value="Upload"/>
				    </div>

				    <form id="progform1" action="/notes" method="post">
					</form>

					<progress id="fileProgress1" max="100" class="hidden">
					</progress>

					<script type="text/javascript">

						(document.getElementById('afterclick')).style.visibility = 'hidden';

						$(document).ready(function(){
							$("input[type=file]").nicefileinput();
						});

						//Set the cognito credentials and do the aws stuff 
						AWS.config.region= 'us-east-1'
						AWS.config.credentials = new AWS.CognitoIdentityCredentials({
							IdentityPoolId: 'us-east-1:25457026-c042-4aa1-b844-be70570b71ec',
						});
						//Get the config credentials form AWS cognito
						AWS.config.credentials.get(function(){
							var syncClient = new AWS.CognitoSyncManager();
							syncClient.openOrCreateDataset('myDataset', function(err, dataset){
								dataset.put('myKey', 'myValue');
								data.synchronize({
									onSuccess: function(data, newRecords){
										console.log(data);
									}
								})
							})
						})
						console.log("Checkpoint 1");
						var bucket = new AWS.S3({params: {Bucket: 'lecto-notes'}});
						var fileChooser = document.getElementById('uploadBtn');
						var button = document.getElementById('submit-button-3');
						button.addEventListener('click', function(){
							var username = $("#keyholder").html();
							var lect_name = $("#name").val();
							var lect_class = $("#class").val();
							var lect_school = $("#school").val();

							console.log(lect_name);
							console.log(lect_class);
							console.log(lect_school);
							console.log(username);

							

							var filename = lect_name + "%" + lect_class + " " + lect_school + " ";// + username; 

							//Actual file uploading logic
							var file = fileChooser.files[0];
							console.log(file);
							if(file){
								console.log('nice');
								var params = {Key: filename, ContentType: '.pdf', Body: file};
								var request = bucket.upload(params, function(err, data){
									if(err){
										console.log(err)
									} else {
										console.log(data);
									}
								})
								//Console currently logs the progresss of the file upload, turn this into a progress bar later on
								request.on('httpUploadProgress', function(progress){
                                    console.log("uploading file has started.");
									//Instantiate the loading bar
									var percent = (progress.loaded/progress.total) * 100; 
									var progDiv = document.getElementById("fileProgress1");
									progDiv.style.visibility = 'visible';
									progDiv.value = percent; 
									console.log(progress.loaded + " of " + progress.total + " bytes");
									
									if(percent == 100){
										//Delay them so that the sessions can finish uploading to s3 first
										var millisecondsToWait = 2000;
										setTimeout(function(){
											var form = document.getElementById("progform1")
											form.submit();
										}, millisecondsToWait);
		
									}				
								})
							} else {
								console.log('nothing to upload');
							}
						}, false)
					</script>
                  </body>
			     </div>
			    </div>
			   <script type="text/javascript">
					var first_screen = document.getElementById('initial');
					var second_screen = document.getElementById('afterclick');
					//second_screen.style.visibility = 'hidden';
					var yes_button = document.getElementById('submit-button');
					var no_button = document.getElementById('submit-button-2');

					yes_button.addEventListener('click', function(){
						
						first_screen.style.visibility = 'hidden';
						second_screen.style.visibility = 'visible';

					});

				
			  </script>
		</body>
	</head>
</html>