<html>
		<!-- Bascially exact same style sheet from lecto.ejs -->
		<style>
		.title-padding{
			margin-left: 25px;
			margin-bottom: -10px;
		}
		.big{
			font-size: 50px;
		}
		input{
		    padding: 10px;
			border: solid 1px #eeeeee;
		}
		.box{
			padding:10px;
			border: solid 1px #eeeeee;
			text-align: center;
		}
		.container {
			width:65%;
		}
		select{
			width: 194px;
		}
		.body {
			background-color:#B6C5D5;
		}
		.center{
			text-align:center;
		}
		li{
			margin-top: 10px;
		}
		.hidden{
			visibility: hidden;
		}
		.navbar {
			box-shadow: 0 5px 5px #333;
		}
		.viisble{
			visibility: visible;
		}
		</style>

		<head>
			<!-- Java Script Libraries -->
			<link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
	        <link rel="stylesheet" href="/animate.css">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<script src="/aws-sdk.min.js"></script>
			<script src="/jquery.min.js"></script>
			<script src="/amazon-cognito.min.js"></script>
			<script src="/jquery.nicefileinput.min.js"></script>
	
			<!-- Navbar stuff -->
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container">
					<a href="#" class="navbar-brand">Teach</a>
					<ul class="nav navbar-left">
						<li role="presentation"><a href="/classes"><b>Learn</b></a></li>
					</ul>
					<h1 class="hidden" id="keyholder"><%= username %></h1>
			   		<a href="/logout" class="navbar-text navbar-right">Log Out</a>
			  		<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= username %></a></p>
			   </div>
			</nav>	
		</head>

		<body>
		<br>
		<br>
		<br>
		<!-- Form with information to upload -->
		<h1 class="animated fadeIn"><b>Upload a Lecto</b></h1>
		<div class="jumbotron text-center">
			<body align="center">
				<div>
					<!-- Replace the 'newsession' with s3 bucket name -->
					<label for="name">Name: </label>
					<br>
					<input type="text" id="name" name="name" placeholder="Enter a username">
					<br>
					<br>
					<label for="name">Class: </label>
					<br>
					<input type="text" id="class" name="subject" placeholder="Enter a class">
					<br>
					<br>
					<label for="school">School: </label> 
					<br>
					<select id="school" class="box" name ="schools" maxlength="194"> 
						<option value="Select">Select a School</option>
						<option value="UC Berkeley">UC Berkeley</option>
					</select> 
					<br>
					<br>
					<input id="uploadBtn" type="file" name="file" />
					<br>
					<input type="checkbox" name="terms" id="terms">
					<a href="#">I accept the Terms and Conditions</a>
					<br>
					<br>
					<input id="submit-button" type="submit" class="btn btn-primary" value="Upload"/>
				</div>

				<form id="progform" action="/goodupload" method="post">
				</form>
				
				<!-- Upload progress bar -->
				<progress id="fileProgress" max="100" class="hidden">
				</progress>
				
				<script type="text/javascript">
					//Makes the file input look a lot nicer
					$(document).ready(function(){
						$("input[type=file]").nicefileinput();
					});


					//Set the cognito credentials in order to access S3 bucket in the cloud
					AWS.config.region='us-east-1';
					AWS.config.credentials = new AWS.CognitoIdentityCredentials({
						IdentityPoolId: 'us-east-1:25457026-c042-4aa1-b844-be70570b71ec'
					});

					//Get the config credeitals from AWS cognitos
					AWS.config.credentials.get(function(){
						var syncClient = new AWS.CognitoSyncManager();
						syncClient.openOrCreateDataset('myDataset', function(err, dataset){
							dataset.put('myKey', 'myValue');
							data.synchronize({
								onSuccess: function(data, newRecords){
									console.log(data);
								}
							})
						})
					})

					//Set the S3 bucket and the parameters
					var bucket = new AWS.S3({params: {Bucket: 'lecto-notes'}});
					var fileChooser = document.getElementById('uploadBtn');
					var button = document.getElementById('submit-button');
					button.addEventListener('click', function(){
						var username = $("#keyholder").html();
					})

				</script>

			</body>
		</div>
	</body>
</html>