<html>
	<style>
		.button{
			padding:5px 15px; background:#ccc; border:0 none;
			cursor:pointer;
			-webkit-border-radius: 5px;
			border-radius: 5px; 
		}

	</style>
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<h1>Create an Account</h1>
		<br>
		<br>
	
	</head>
	<body align="center">
		<div>
			<form action='/register' method='post'>
			<label for="name">Username: </label>
			<input type="text" id="name" name="name" placeholder="Enter a username">
			<br>
			<br>
			<label for="name">Password: </label>
			<input type="password" id="pass" name="pass" placeholder="Enter a password">
			<br><br>
			<input type="submit" class="button" value="Create Account"/>
			</form>
		</div>
	</body>

</html>