<html>
	<style>
		.title-padding{
			margin-left: 25px;
			margin-bottom: -10px;
		}
		.big{
			font-size: 50px;
		}

		input{
		    padding: 10px;
			border: solid 1px #eeeeee;
		}
		
		.container {
			width:65%;
		}
		
		.body {
			background-color:#B6C5D5;
		}

	</style>
	<head>
		<!-- Boostrap components -->
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/animate.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		   		<a href="#" class="navbar-brand"><%= username %></a>
		   		<a href="/logout" class="navbar-text navbar-right">Log Out</a>
		   </div>
		</nav>
	</head>


	<body class="body">
		<br>
		<br>
		<br>
		<h1 class="animated fadeIn"><b>Start a new Session</b></h1>
		<div class="jumbotron text-center">
			<body align="center">
				<div>
					<form action='/newsession' method='post'>
						<label for="name">Session Name: </label>
						<br>
						<input type="text" id="name" name="name" placeholder="Enter a username">
						<br>
						<br>
						<label for="name">Class: </label>
						<br>
						<input type="text" id="pass" name="pass" placeholder="Enter a class">
						<br>
						<br>
						<label for="name">Premium Price: </label>
						<br>
						<input type="number" id="pass" step=".05" name="pass" placeholder="Enter a price">
						<br>
						<br>
						<input type="checkbox" name="terms" id="terms">
						<a href="#">I accept the Terms and Conditions</a>
						<br>
						<br>
						<input type="submit" class="btn btn-primary btn-lg" value="Create Session"/>
					</form>
				</div>
			</body>
		</div>
	</body>
</html>