<html>
	<style>
		.sidebar-layout{
			position:absolute;
			left:300px; top:68px; right:0; bottom:0;
		}
		.sidebar{
			position:absolute;
			left:0; top:67px; bottom: 0;
			width: 300px;
			background-color: white;
		}
		.prompt{
			height: 80%;
			overflow: none;
			width: 100%;
			position: relative;
		}
		.chat{
			height: 80%;
			overflow: none;
			width: 100%;
			position: relative;
		}
		.chat-box{
			position: absolute;
			max-height: 100%;
			width: 100%;
			background-color: white;
			text-align: left;
			padding: 5 5 5 5;
			overflow: auto;
			bottom: 0;
		}
		.new-message{
			position: absolute;
			width:100%;
			height: 10%;
			border-style: solid;
			border-color: #f6f6f6;
			text-align: left;
			padding: 5 5 5 5;
			overflow: hidden;
		}
		.hidden{
			visibility:hidden;
		}
		.remoteStyle {
			margin:5px;
			border: 0 solid #333;
			border-top: 15px solid #333;
			border-bottom: 15px solid #333;
			border-left: 15px solid #333;
			border-right: 15px solid #333;
		}

		li{
			margin-top: 10px;
		}
		#chat-title{
			font-style: italic;
			background-color:#f6f6f6;
			padding-top: 13px;
			padding-bottom: 15px;
			margin-top: 0px;
		}

		.body{
			background-color:#B6C5D5;
		}

		#localvideo{
			visibility: hidden;
		}

		.navbar {
			box-shadow: 0 5px 5px #333;
		}

	</style>
	<head>
		<!-- Boostrap components -->
  	<link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/adapter.js"></script>
		<script src="/latest.js"></script>
		<script src="/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<meta name="keywords" content="JavaScript, WebRTC" />
		<meta name="description" content="WebRTC codelab" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<a href="/login" class="navbar-brand">Teach</a>
				<ul class="nav nav-pills">
					<li role="presentation"><a href="/"><b>Leave Session</b></a></li>
					<li role="presentation"><a href="#" ><b>Go Premium</b></a></li>
				</ul>
			</div>
		</nav>
	</head>
	<br>
	<br>
	<div class="sidebar-layout">
		<body class="text-center body">
		<br>
		<div class="container">
			<div id='videos'></div>
				<h2 id="best-results">For best results, use headphones!</h2>
				<a id="openNewSessionButton" class="btn btn-primary btn-lg" role="button">OK!</a>
		</div>
		<br>
		<div class="hidden" id="keyholder"><%=room%></div>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1><%=title%></h1>
					<h3><%=subject%></h3>
				</div>
				<div class="panel-body">
					<p>The price for video/premium on this lecture is $<%=price%></p>
				</div>
			</div>
		</div>
	</body>
	</div>
	<div class="sidebar" id="chat-sidebar">
			<h1 id="chat-title">#livechat</h1>
			<div class="chat">
				<div class="chat-box" id="chat-box"></div>
			</div>
			<div class="new-message" id="msg" overflow="hidden" contenteditable="true"></div>
	</div>
	<script>
		//Socket.io for live chatting
		var socket = io.connect(window.location.hostname);
		var sessID = document.getElementById("keyholder").innerHTML;
		var username = prompt("What's your name?");
			socket.on('connect', function(data){
				socket.emit('adduser', [username, sessID]);
			}
		)

		var color = getRandomColor();

		//listener, whenever the server emits to 'update chat', this listens
		socket.on('updatechat', function(username, data){
			console.log(data);
			console.log(username);
			$("#chat-box").append("<b>" + username.toString() + "</b>" + ": " + data.toString());
			$("#chat-box").append("<br>");
			$("#chat-box").scrollTop($("#chat-box")[0].scrollHeight);
		})

		//When the user clicks enter, send the message
		$('#msg').keypress(function(e){
			if(e.which == 13){
				var message = document.getElementById("msg").innerHTML;
				console.log(message);
				socket.emit('sendchat', message);
				$('#msg').empty();
				e.preventDefault();
			}
		})

		var participant = new RTCMultiConnection('sample')
		var sessionDescription = {
			sessionId: sessID,
			session: {
				audio: false,
				video: false
			}
		}

		participant.body = document.getElementById("videos");

		document.getElementById("openNewSessionButton").onclick = function(){
			document.getElementById("best-results").style.visibility = "hidden";
			document.getElementById("openNewSessionButton").style.visibility = "hidden";
			participant.join(sessionDescription);
		}

		participant.sdpConstraints.mandatory = {
			OfferToReceiveAudio: true,
			OfferToReceiveVideo: true
		}

		function getRandomColor() {
	    var letters = '0123456789ABCDEF'.split('');
	    var color = '#';
	    for (var i = 0; i < 6; i++ ) {
	        color += letters[Math.floor(Math.random() * 16)];
	    }
	    return color;
	}

	</script>

</html>
